__pycache__
*.so
build
.coverage_*
*.egg-info
*~
slurm*
logs
.vscode
local/
.gitmodules
*.log
assets
CACHE
outputs
eval_results
*.parquet
gen_results/
run_docker.sh
run_eval.sh
run_gen.sh
gen_results_length